.patientsTable {
  border: 1px solid;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
table tr td {
  border-right-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: black;
}

.enter-name {
  margin-left: 10px;
  margin-top: 10px;
  color: blue;
}
.search {
  margin-left: 10px;
  margin-top: 10px;
  width: 90%;
}
.no_patient {
  color: red;
}
