.patientsTable {
  border: 1px solid;
  margin: auto;
}
table tbody tr td {
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-style: solid;
    border-color: black;
  }
  table tbody tr td:last-child {
    border-right: 0px;
  }
  ul{
    list-style-type: circle;
    list-style-position: inside;
    padding: 0;
  }
