.patientDetails {
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 5%;
  width: 60%;
  border: groove rgb(223, 220, 220);
  padding: 0.25rem;
}
.separator {
  color: black;
  position: relative;
}
