.dashboard {
  background-color: rgb(238, 234, 234);
  align-content: center;
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 20%;
  width: 45%;
  border: groove rgb(223, 220, 220);
  padding: 0.25rem;
}
.dash_heading {
  align-content: center;
  width: 90%;
}
